html,
body {
  height: 100%;
  margin: 0;
  background-color: #171717;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  width: 50%;
}

.box1 {
  width: 200px;
  height: 200px;
  background-color: #506354;
  color: #ede4be;
}
